<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="show_sql">true</property> 
    	
    	<mapping resource="net/trast/model/Adresse.hbm.xml"/>
    	<mapping resource="net/trast/model/AppelOffre.hbm.xml"/>
    	<mapping resource="net/trast/model/CahierDesCharges.hbm.xml"/>
    	<mapping resource="net/trast/model/Competence.hbm.xml"/>
    	<mapping resource="net/trast/model/ContreProposition.hbm.xml"/>
    	<mapping resource="net/trast/model/Etablissement.hbm.xml"/>
    	<mapping resource="net/trast/model/Experience.hbm.xml"/>
    	<mapping resource="net/trast/model/Fichier.hbm.xml"/>
    	<mapping resource="net/trast/model/Formation.hbm.xml"/>
    	<mapping resource="net/trast/model/IntituleFormation.hbm.xml"/>
    	<mapping resource="net/trast/model/Projet.hbm.xml"/>
    	<mapping resource="net/trast/model/Qualification.hbm.xml"/>
    	<mapping resource="net/trast/model/Remuneration.hbm.xml"/>
    	<mapping resource="net/trast/model/Utilisateur.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
